.root {
    -fx-background-image: url('images/tło.png');
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}


.header {
    -fx-font-size: 24px;
    -fx-text-fill: #5c5c5c;
    -fx-padding: 10px;
    -fx-alignment: center;
}

.search-bar {
    -fx-padding: 10px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
}

.button {
    -fx-background-color: #2e8b57;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 10 20;
}

.button:hover {
    -fx-background-color: #3cb371;
}


.product-list {
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.footer-button {
    -fx-font-size: 14px;
    -fx-background-color: #ff8c00;
    -fx-text-fill: white;
    -fx-background-radius: 5;
    -fx-padding: 10 20;
}

.footer-button:hover {
    -fx-background-color: #ff7f00;
}

.list-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 10);
    -fx-padding: 5px;
}

.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #dddddd;
    -fx-border-width: 2;
    -fx-border-radius: 15;
}

.vbox {
    -fx-spacing: 10;
    -fx-alignment: center;
}
